page-film {
  .main-show {
    margin: auto;
  }

  .main-show video {
    width: calc(100% - 16px);
    height:calc(100% - 16px) ;
    margin: auto;
    padding: 0;
    background-color: #000;
    border: none;
    min-width: 45vw;
    -webkit-box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
  }
}
