page-home {
  @mixin main {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background: #f53d3d no-repeat center center fixed;
  }

  $animal-list: 1, 2, 3, 4, 5, 6;
  @each $animal in $animal-list {
    .main-#{$animal} {
      @include main;
      background-image: url(../assets/img/main/#{$animal}.jpg);
    }
  }

  .login {
    position: fixed;
    top: 1.6rem;
    right: 3rem;
    color: #fff;
    font-size: 3.6rem;
  }

  .grid {
    height: 100%;
  }

  .img-logo {
    margin: 0.5rem 0;
    width: 42rem;
    height:7.6rem;
  }

  .top-btn {
    width: 85%;
    margin: 0.5rem auto;
  }

  .top-btn a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }

  @mixin top-btn-focus {
    background-color: #f23a07 !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  }

  .top-btn a:hover, .top-btn a:active, .top-btn a:focus {
    @include top-btn-focus;
  }

  .top-btn-actived {
    @include top-btn-focus;
  }

  .top-btn .icon {
    font-size: 5rem;
  }

  .top-btn h4, .top-btn .icon {
    margin: 0.2rem;
    color: #fff;
  }

  .main-show {
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    /*    position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);*/
    /*    background-color: #1e87ea;*/
  }

  .main-show video {
    margin: 0;
    padding: 0;
    background-color: #000;
    border: none;
    border-radius: 6px;
    min-width: 45vw;
    max-width: 60vw;
    max-height: 55vh;
    -webkit-box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
  }

  .main-show a {
    display: block;
    margin: 2.5rem 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  }

  .main-show a:hover, .main-show a:active, .main-show a:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 3px solid #fff;
    opacity: 0.9;
  }
  /*  .main-show a.energized-bg-linear {
      background: -webkit-linear-gradient(top, #f26604, #F23108 );
      background: linear-gradient(top, #f26604, #F23108 );
    }*/

  .main-show .icon {
    margin-bottom: 0.6rem !important;
    font-size: 8rem;
  }

  .main-show h3, .main-show .icon {
    margin: 0;
    color: #fff;
  }

  /*  @media screen and (min-width: 320px) and (max-width: 480px) { //手机设备
      .main-show{
        width: 100%;
        padding: 0.1rem;
      }
      .main-show .icon {
        font-size: 3rem;
      }
      .main-show h3, .main-show .icon {
       font-size: 1.2rem;
      }

    }*/

  .main-show.dangjian a {
    margin: 1.6rem 1rem;
    padding: 1.2rem;
  }

  .main-show.sanwu a {
    margin: 2.5rem;
    padding: 8rem 2rem;
  }

  .main-show.sanwu .icon {
    margin-bottom: 1.2rem !important;
    font-size: 10rem;
  }

  .main-show.damei .juxian, .main-show.dangyuan .fengcai, .main-show.fupin .zhengce {
    padding: 8.4rem 1rem;
  }

  .main-show.damei .juxian .icon, .main-show.dangyuan .fengcai .icon, .main-show.fupin .zhengce .icon {
    margin-bottom: 1.2rem !important;
    font-size: 11rem;
  }

  .main-show-hongse {
    width: 90%;
    margin: auto;
    padding: 1rem 0;
  }

  .main-show-hongse.hongse img {
    border-radius: 0.6rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  }

  .main-show-hongse.hongse a:hover img, .main-show-hongse.hongse a:focus img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 3px solid #fff;
  }

  .main-show-hongse.hongse h4 {
    margin-top: 0.5rem;
    color: #fff;
  }

  .film-search ion-searchbar {
    margin-right: 3rem !important;
  }

  .film-search input {
    border-radius: 2rem !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
  }

  .film-search a.film-type {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

}
