<!--<ion-header >
  <ion-navbar color="primary">
    <ion-title>智慧党建</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content class="main-{{typeFlag}}">
  <ion-grid class="grid">
    <ion-row>
      <ion-col text-center>
        <img class="img-logo" src="assets/img/main/logoll.png"/>
      </ion-col>
    </ion-row>
    <ion-row class="top-btn" justify-content-around text-center>
      <ion-col>
        <a tabindex="1" (click)="liveStreaming(0)" class="{{typeFlag==0?'top-btn-actived':''}}">
          <ion-icon class="icon-homefill"></ion-icon>
          <h3>党建首页</h3>
        </a>
      </ion-col>
      <ion-col>
        <a tabindex="1" (click)="typeSwitch(1)" class="{{typeFlag==1?'top-btn-actived':''}}">
          <ion-icon class="icon-favorfill"></ion-icon>
          <h3>智慧党建</h3>
        </a>
      </ion-col>
      <ion-col>
        <a tabindex="2" (click)="typeSwitch(2)" class="{{typeFlag==2?'top-btn-actived':''}}">
          <ion-icon name="mail-open"></ion-icon>
          <h3>三务公开</h3>
        </a>
      </ion-col>
      <ion-col>
        <a tabindex="3" (click)="typeSwitch(3)" class="{{typeFlag==3?'top-btn-actived':''}}">
          <ion-icon class="icon-friendfill"></ion-icon>
          <h3>党员之家</h3>
        </a>
      </ion-col>
      <ion-col>
        <a tabindex="4" (click)="typeSwitch(4)" class="{{typeFlag==4?'top-btn-actived':''}}">
          <ion-icon class="icon-sponsorfill"></ion-icon>
          <h3>精准扶贫</h3>
        </a>
      </ion-col>
      <ion-col>
        <a tabindex="5" (click)="typeSwitch(5)" class="{{typeFlag==5?'top-btn-actived':''}}">
          <ion-icon name="cloudy"></ion-icon>
          <h3>大美莒县</h3>
        </a>
      </ion-col>
      <ion-col>
        <a tabindex="6" (click)="typeSwitch(6)" class="{{typeFlag==6?'top-btn-actived':''}}">
          <ion-icon name="film"></ion-icon>
          <h3>红色影院</h3>
        </a>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="typeFlag==0" class="main-show" justify-content-around align-items-center text-center>
      <ion-col col-2>
        <a tabindex="7" class="energized-bg" (click)="liveStreaming(1)">
          <ion-icon name="videocam"></ion-icon>
          <h3>视频直播</h3>
        </a>
        <a tabindex="8" class="royal-bg" (click)="liveStreaming(1)">
          <ion-icon name="logo-youtube"></ion-icon>
          <h3>视频录播</h3>
        </a>
      </ion-col>

      <video col-6 controls="controls" autoplay="autoplay" src="{{videoUrl}}">
      </video>
      <ion-col col-2>
        <a tabindex="9" class="calm-bg" (click)="liveStreaming(0)">
          <ion-icon class="icon-homefill"></ion-icon>
          <h3>主页</h3>
        </a>
        <a tabindex="10" class="balanced-bg" (click)="liveStreaming(1)">
          <ion-icon name="logo-youtube"></ion-icon>
          <h3>视频录播</h3>
        </a>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="typeFlag==1" class="main-show dangjian" justify-content-around align-items-center text-center>
      <ion-col col-3>
        <a tabindex="7" href="{{domain}}/weixin2/dianshi/qiaoshan/ht/selectxiehui.aspx" class="energized-bg">
          <ion-icon class="icon-recordfill"></ion-icon>
          <h3>会议直播</h3>
        </a>
        <a tabindex="8" href="{{domain}}/weixin2/dianshi/qiaoshan/ht/selectxiehui.aspx" class="royal-bg">
          <ion-icon class="icon-video_fill_light"></ion-icon>
          <h3>视频监控</h3>
        </a>
      </ion-col>

      <ion-col col-3>
        <a tabindex="9" href="{{domain}}/weixin2/dianshi/qiaoshan/list1.aspx?id=107" class="calm-bg">
          <ion-icon class="icon-read"></ion-icon>
          <h3>学习教育</h3>
        </a>
        <a tabindex="10" href="https://www.dtdjzx.gov.cn/" class="balanced-bg">
          <ion-icon class="icon-creative"></ion-icon>
          <h3>灯塔在线</h3>
        </a>
      </ion-col>

      <ion-col col-3>
        <a tabindex="11" href="{{domain}}/weixin2/dianshi/qiaoshan/list1.aspx?id=108" class="positive-bg">
          <ion-icon class="icon-phone"></ion-icon>
          <h3>联系服务群众</h3>
        </a>
        <a tabindex="12" href="{{domain}}/weixin2/dianshi/qiaoshan/list1.aspx?id=109" class="assertive-bg">
          <ion-icon class="icon-servicefill"></ion-icon>
          <h3>工作督查通报</h3>
        </a>


      </ion-col>
    </ion-row>

    <ion-row *ngIf="typeFlag==2" class="main-show sanwu" justify-content-center align-items-center text-center>
      <ion-col col-3>
        <a tabindex="7" href="{{domain}}/weixin2/dianshi/qiaoshan/list1.aspx?id=110" class="positive-bg">
          <ion-icon class="icon-activityfill"></ion-icon>
          <h3>党务公开</h3>
        </a>
      </ion-col>
      <ion-col col-3>
        <a tabindex="8" href="{{domain}}/weixin2/dianshi/qiaoshan/list1.aspx?id=111" class="balanced-bg">
          <ion-icon class="icon-babyfill"></ion-icon>
          <h3>政务公开</h3>
        </a>
      </ion-col>

      <ion-col col-3>
        <a tabindex="9" href="{{domain}}/weixin2/dianshi/qiaoshan/list1.aspx?id=112" class="yellow-bg">
          <ion-icon class="icon-sponsorfill"></ion-icon>
          <h3>财务公开</h3>
        </a>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="typeFlag==6" class="main-show hongse" justify-content-center align-items-center text-center>
      <video col-6 controls="controls" autoplay="autoplay" src="{{videoUrl}}">
      </video>

    </ion-row>
  </ion-grid>

</ion-content>
