page-home {
  .main {
    position: relative;
    height: 100%;
    background: url('../../assets/img/main/main-bg.png');
    background-size: 100% 100%;
    padding: 3rem;
  }
  .main-show {
    width: 80%;
    padding: 2rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*    background-color: #1e87ea;*/
  }
  .main-show a {
    display: block;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  }

  .main-show a.positive-bg {
    background: -moz-linear-gradient(top, #9cd564, #7aa450 50%, #9cd564);
    background: -webkit-linear-gradient(top, #9cd564, #7aa450 50%, #9cd564)!important;
    background: -o-linear-gradient(top, #9cd564, #7aa450 50%, #9cd564);
    background: -ms-linear-gradient(top, #9cd564, #7aa450 50%, #9cd564);
    background: linear-gradient(top, #9cd564, #7aa450 50%, #9cd564);
  }

  .calm-bg {
    background-color: #11c1f3
  }

  .balanced-bg {
    background-color: #33cd5f
  }

  .energized-bg {
    background-color: #f26604
  }

  .assertive-bg {
    background-color: #ef473a
  }

  .royal-bg {
    background-color: #886aea
  }

  .main-show .icon {
    font-size: 10rem;
  }
  .main-show h2, .main-show .icon {
    margin: 0;
    color: #fff;
  }

}
