page-home {
  .main {
    position: relative;
    height: 100%;
    background: url('../../assets/img/main/main-bg.png');
    background-size: 100% 100%;
    /*   filter:sepia(1) saturate(4) hue-rotate(295deg);*/
    padding: 3rem;
  }
  .main-show {
    width: 80%;
    padding: 2rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*    background-color: #1e87ea;*/
  }
  .main-show video {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-shadow: 0 0 0 10px #D73C51,
    0 0 0 16px #FFCD47,
    0 2px 5px 16px rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 10px #D73C51,
    0 0 0 16px #FFCD47,
    0 2px 5px 16px rgba(0, 0, 0, .6);
  }
  .main-show a {
    display: block;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  }
  .main-show a:hover, .main-show a:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.9;
  }
  /*  .main-show a.energized-bg-linear {
      background: -webkit-linear-gradient(top, #f26604, #F23108 );
      background: linear-gradient(top, #f26604, #F23108 );
    }*/

  .main-show .icon {
    font-size: 9rem;
  }
  .main-show h2, .main-show .icon {
    margin: 0;
    color: #fff;
  }

}
