page-home {

  @mixin main {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size:cover!important;
    background-size:cover!important;
    background: #f53d3d no-repeat center center fixed;
  }

  $animal-list: 0, 1, 2, 3, 4, 5, 6;
  @each $animal in $animal-list {
    .main-#{$animal} {
      @include main;
      background-image: url(../assets/img/main/#{$animal}.jpg);
    }
  }
  .grid {
    height: 100%;
  }
  .img-logo {
    margin: 0.8rem 0;
    width: 42rem;
    height: 7rem;
  }
  .top-btn {
    width: 90%;
    margin: 0.6rem auto;
  }
  .top-btn a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.1);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }
  .top-btn a:hover, .top-btn a:active, .top-btn a:focus {
    background-color: #f23a07;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  }

  .top-btn .icon {
    font-size: 5.5rem;
  }
  .top-btn h3, .top-btn .icon {
    margin: 0.3rem;
    color: #fff;
  }
  .main-show {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    /*    position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);*/
    /*    background-color: #1e87ea;*/
  }
  .main-show video {
    margin: 0;
    padding: 0;
    background-color: #000;
    border: none;
    border-radius: 6px;
    max-height: 55vh;
    /*    min-height: 48vh;*/
    -webkit-box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
  }
  .main-show a {
    display: block;
    margin: 2.5rem 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  }
  .main-show a:hover, .main-show a:active, .main-show a:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 3px solid #fff;
    opacity: 0.9;
  }
  /*  .main-show a.energized-bg-linear {
      background: -webkit-linear-gradient(top, #f26604, #F23108 );
      background: linear-gradient(top, #f26604, #F23108 );
    }*/

  .main-show .icon {
    font-size: 8rem;
  }
  .main-show h3, .main-show .icon {
    margin: 0;
    color: #fff;
  }

}
