<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="clam">
    <ion-title>{{newsInfo.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="main-show" >
  <div *ngIf="isNotData" class="isNotDataHint">
    <ion-icon class="icon-notice"></ion-icon>
    <p>暂无数据</p>
  </div>
  <ion-list *ngIf="!isNotData" class="list"  >
<!--    <ion-card>-->
      <a tabindex="{{index+1}}"  ion-item *ngFor="let item of newsList" (tap)="pushNewsDetailsPage(item.title,item.content)"  (keypress)="pushNewsDetailsPage(item.title,item.content)"   >
        <ion-thumbnail item-start>
          <img src="{{apiUrl+item.img_url}}" onerror="this.src='assets/img/main/1.jpg'">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <ion-icon class="icon-right light" item-end></ion-icon>
        <!--    <button ion-button  item-end>按钮</button>-->
      </a>

<!--    </ion-card>-->

  </ion-list>
</ion-content>
