page-news-details {
  .main-show {
    background: -webkit-linear-gradient(#00ACFF, #32db64);
    background: linear-gradient(#00ACFF, #32db64);
    color: #fff;
    font-size: 1.8rem;
  }

  .main-show .content{
    width: 96%;
    padding: 2rem ;
    background-color: rgba(0,0,0,0.2);
    min-height: 80vh;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px  rgba(0, 0, 0, .3);
    box-shadow: 0 2px 3px  rgba(0, 0, 0, .3);
  }
}
