page-live-broadcast {
  .main-show {
    margin: auto;
    padding: 2rem 0;
    background: -webkit-linear-gradient(#f53d3d, #f2cb20);
    background: linear-gradient(#f53d3d, #f2cb20);
  }

  .main-show video {
    margin: auto;
    padding: 0;
    background-color: #000;
    border: none;
    border-radius: 6px;
    min-width: 45vw;
    max-width: 60vw;
    max-height: 55vh;
    -webkit-box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 10px #fff,
    0 3px 5px 10px rgba(0, 0, 0, .6);
  }

  .buttons {
    position: absolute;
    margin-left: 5rem;
  }


}
